@model MVC7amBatch21Aug2021.Models.EmployeeModel
@{
    ViewBag.Title = "HtmlhelperExample";
}

<script>
    function fun()
    {
        alert("Life is full of surprises");
    }
     


   
</script>

<h2>HtmlhelperExample</h2>
@Html.LabelFor(model=>model.EmpName)

@Html.TextBox("jhtj",Model.EmpName,new { style = "background-color:pink;",@class="form-control",id="txtEmpName", onclick = "fun()" })
<input type="text" name="LastName" id="txtLastName" value="shroff" style="background-color:skyblue;" class="form-control" onclick="fun()" />

@Html.Password("pwd", "test",null)  
<span>Male</span>@Html.RadioButton("Gender","Male",true)
<span>FeMale</span>@Html.RadioButton("Gender", "FeMale")
<br />
<span>java</span>@Html.CheckBox("java") <span>Dotnet</span>@Html.CheckBox("Dotnet",true)<br />
@Html.DropDownList("Country",new List<SelectListItem>()
{

new SelectListItem {Text="India",Value="1" },
new SelectListItem { Text="China",Value="2",Selected=true},
new SelectListItem { Text="Bangladesh",Value="3"}

},"Select Country"

)


@Html.DropDownList("states")

@Html.DropDownList("MyState",(IEnumerable<SelectListItem>)ViewBag.states,"---Select State---")<br />
<br />
@Html.DropDownListFor(model=>model.StateId, (IEnumerable<SelectListItem>)ViewBag.states, "---Select State---")<br />



<form action="~/new/HtmlhelperExample" method="post">
    <span>Male</span>@Html.RadioButton("Gender", "Male", true)
    <span>FeMale</span>@Html.RadioButton("Gender", "FeMale")<br />

    MVC @*<input type="checkbox" name="Course" value="MVC Course" checked="checked" />*@
    @Html.CheckBox("Course")
    <br />
    <input type="checkbox" name="ExtraCr" />
    <input type="submit"  value="submit" class="form-control"/>
</form>
 
 <br />
@ViewBag.SelectedGender
<br />
@ViewBag.SelectedCourse
